#Local terraform directories
**/.terraform/*

#.tfstate files
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

#Crash log files
crash.log
crash.*.log

#CLI configuration files
.terraformrc
terraform.rc
